


<div class="row">
  <div class="col-sm-6">
    <h1>Directors</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_director_path, class: 'btn btn-primary' do %>
    Add New Director
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @directors.each do |director| %>
        <%= content_tag :tr, id: dom_id(director), class: dom_class(director) do %>
          
            <td><%= link_to director.name, director %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
