


<div class="row">
  <div class="col-sm-6">
    <h1>Languages</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_language_path, class: 'btn btn-primary' do %>
    Add New Language
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Movie</th>
            
      </tr>
    </thead>

    <tbody>
      <% @languages.each do |language| %>
        <%= content_tag :tr, id: dom_id(language), class: dom_class(language) do %>
          
            <td><%= link_to language.name, language %></td>
          

                      <td><%= language.movie.title %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
