


<div class="row">
  <div class="col-sm-6">
    <h1>Languages</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_language_path, class: 'btn btn-primary' do %>
    Add New Language
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Movie</th>
            
      </tr>
    </thead>

    <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= Movie.find(language.movie_id).title %></td>
      </tr>
    <% end %>
    
    
    </tbody>
  </table>
</div>
