<div id="<%= dom_id movie_director %>">
  <p>
    <strong>Movie:</strong>
    <%= movie_director.movie_id %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie_director.director_id %>
  </p>

</div>
